@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        letter-spacing: 0.05rem;
    }

    body {
        @apply font-baseFont
    }

    section {
        @apply pt-8 pb-4 md:pt-[120px] lg:pt-[80px];
    }

    .sub-head {
        @apply text-2xl font-semibold
    }

    .show-btns {
            opacity: 1;
            pointer-events: auto;
        }

}

@layer components {
    .btn {
        @apply inline-block bg-ThirdColor text-zinc-50 px-5 py-2.5 rounded-lg
    }

}
